@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background-color: rgb(51 65 85 / 0.25);
    scroll-behavior: smooth;
}

.btn-detail:hover{
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}


@media (min-height: 0px){
    .swap-icon{
        display: flex;
    }
}

@media (min-height: 750px){
    .swap-icon{
        display: none;
    }
}


@media screen and ( max-height: 750px ) {
    .slide-images{
        display: none;
    }
}


@layer components {
    .bar {
      @apply inline-block w-[3px] h-5 bg-[rgba(255,255,255,0.5)] animate-[scaleUp4_1s_linear_infinite] rounded-[10px]
    }
}

